---
##############
# CKAN setup #
##############

- name: Install needed packages
  action: yum pkg={{item}} state=installed
  with_items:
    - p7zip
    - httpd
    - gdal-python

- name: Append custom Postfix configuration
  shell: "cat {{document_root}}/{{postfix_conf_append}} >> /etc/postfix/main.cf"

- name: Restarting Postfix service
  command: service postfix restart

- name: Create link of pg_config for PostgreSQL 9.3
  action: command ln -s /usr/pgsql-9.3/bin/pg_config /usr/bin/pg_config
  ignore_errors: yes

- name: Add CKAN path
  action: file path=/var/local/ckan/default state=directory

- name: Add deployment folders
  shell: "cd /var/local/ckan/default && mkdir log && mkdir run && mkdir tmp && mkdir -p files/resources && mkdir -p files/storage"
  ignore_errors: yes

- name: Create virtualenv for CKAN
  shell: virtualenv --setuptools --system-site-packages /var/local/ckan/default/pyenv

- name: Change owner of virtualenv to ckaner
  shell: chown -R ckaner:users /var/local/ckan/default

- name: Change owner of tmp to apache
  shell: chown -R apache:apache /var/local/ckan/default/tmp

- name: Install latest pip
  action: pip name=pip virtualenv=/var/local/ckan/default/pyenv/
  sudo: yes
  sudo_user: ckaner

- name: Change permissions of source folder
  shell: chmod 777 /var/local/ckan/default/pyenv/

- name: Get CKAN from git
  git: repo=git@github.com:ckan/ckan.git dest=/var/local/ckan/default/pyenv/src/ckan version="release-v2.4.2" accept_hostkey=True
  sudo: False

- name: Change permissions of source folder
  shell: chmod 777 /var/local/ckan/default/pyenv/src

- name: Change owner of source folder
  shell: chown -R ckaner:users /var/local/ckan/default/pyenv/src/ckan

- name: Install CKAN requirements
  action: pip requirements=/var/local/ckan/default/pyenv/src/ckan/requirements.txt virtualenv=/var/local/ckan/default/pyenv/
  sudo: yes
  sudo_user: ckaner

- name: Run setup.py develop for CKAN
  action: command chdir=/var/local/ckan/default/pyenv/src/ckan/ ../../bin/python setup.py develop
  sudo: yes
  sudo_user: ckaner

- stat: path=/var/local/ckan/default/pyenv/src/ckanext-archiver
  register: archiver

- name: Install ckanext-datastorer
  action: pip name=git+git://github.com/ckan/ckanext-datastorer.git#egg=ckanext-datastorer virtualenv=/var/local/ckan/default/pyenv/
  sudo: yes
  sudo_user: ckaner

- name: Change owner of source folder
  shell: chown -R ckaner:users /var/local/ckan/default/pyenv/src

- name: Install ckanext-datastorer requirements
  action: pip requirements=/var/local/ckan/default/pyenv/src/ckanext-datastorer/pip-requirements.txt virtualenv=/var/local/ckan/default/pyenv/
  sudo: yes
  sudo_user: ckaner

- name: Get ckanext-archiver from git
  action: git repo=git@github.com:ckan/ckanext-archiver.git dest=/var/local/ckan/default/pyenv/src/ckanext-archiver accept_hostkey=True
  sudo: False

- name: Change owner of source folder
  shell: chown -R ckaner:users /var/local/ckan/default/pyenv/src

- name: Run setup.py develop for ckanext-archiver
  action: command chdir=/var/local/ckan/default/pyenv/src/ckanext-archiver/ ../../bin/python setup.py develop
  sudo: yes
  sudo_user: ckaner

- name: Install ckanext-archiver requirements
  action: pip requirements=/var/local/ckan/default/pyenv/src/ckanext-archiver/pip-requirements.txt virtualenv=/var/local/ckan/default/pyenv/
  sudo: yes
  sudo_user: ckaner

- name: install GeoAlchemy2
  pip: name=GeoAlchemy2 virtualenv=/var/local/ckan/default/pyenv/
  sudo: yes
  sudo_user: ckaner


- stat: path=/var/local/ckan/default/pyenv/src/ckanext-spatial
  register: spatial

- name: Get ckanext-spatial from git
  action: git repo=git@github.com:ckan/ckanext-spatial.git dest=/var/local/ckan/default/pyenv/src/ckanext-spatial accept_hostkey=True
  sudo: False

- name: Change owner of source folder
  shell: chown -R ckaner:users /var/local/ckan/default/pyenv/src

- name: Run setup.py develop for ckanext-spatial
  action: command chdir=/var/local/ckan/default/pyenv/src/ckanext-spatial/ ../../bin/python setup.py develop
  sudo: yes
  sudo_user: ckaner

- name: Install ckanext-spatial requirements
  action: pip requirements=/var/local/ckan/default/pyenv/src/ckanext-spatial/pip-requirements.txt virtualenv=/var/local/ckan/default/pyenv/
  sudo: yes
  sudo_user: ckaner

- name: Get ckanext-geoview from git
  action: git repo=git@github.com:ckan/ckanext-geoview.git dest=/var/local/ckan/default/pyenv/src/ckanext-geoview accept_hostkey=True
  sudo: False


- name: Change owner of source folder
  shell: chown -R ckaner:users /var/local/ckan/default/pyenv/src

- name: Run setup.py develop for ckanext-geoview
  action: command chdir=/var/local/ckan/default/pyenv/src/ckanext-geoview/ ../../bin/python setup.py develop
  sudo: yes
  sudo_user: ckaner

- stat: path=/var/local/ckan/default/pyenv/src/ckanext-preview
  register: preview

- name: Get ckanext-pdfview from git
  action: git repo=https://github.com/ckan/ckanext-pdfview.git dest=/var/local/ckan/default/pyenv/src/ckanext-pdfview accept_hostkey=True
  sudo: False

- name: Change owner of source folder
  shell: chown -R ckaner:users /var/local/ckan/default/pyenv/src

- name: Run setup.py develop for ckanext-pdfview
  action: command chdir=/var/local/ckan/default/pyenv/src/ckanext-pdfview/ ../../bin/python setup.py develop
  sudo: yes
  sudo_user: ckaner

- name: Create folder
  file: path=/var/local/ckan/default/pyenv/src/pycsw state=directory owner=ckaner mode=0755

- name: Copy ckan configuration files
  action: copy src={{item}} dest=/{{item}} mode=644 force=yes
  with_items:
    - var/local/ckan/default/pyenv/src/pycsw/csw.wsgi
    - var/local/ckan/default/pyenv/src/pycsw/default.cfg
    - var/local/ckan/default/pyenv/src/ckan/wsgi.py
    - var/local/ckan/default/pyenv/src/ckan/development.ini

- name: init db
  action: command /var/local/ckan/default/pyenv/bin/paster --plugin=ckan db init -c /var/local/ckan/default/pyenv/src/ckan/development.ini
  sudo: yes
  sudo_user: ckaner

- name: set permissions
  shell: "cd /var/local/ckan/default/pyenv && . bin/activate && cd src/ckan && paster --plugin=ckan datastore set-permissions -c ./development.ini | sudo -u postgres psql --set ON_ERROR_STOP=1"

- name: Change permissions of files folder
  shell: chmod -R 777 /var/local/ckan/default/files

- name: Change permissions of tmp folder
  shell: chmod -R 777 /var/local/ckan/default/tmp

- name: Change permissions of tmp folder
  shell: chmod -R 777 /var/local/ckan/default/log

- name: set host setting
  shell: 'echo "127.0.0.1   ckan" >> /etc/hosts'

- name: Create status file after installing
  shell: "echo 1 > /var/local/ckan/installed"


