---
####################
# POSTGRESQL setup #
####################

- name: Add PostgreSQL repository
  action: command rpm -Uvh http://yum.postgresql.org/9.3/redhat/rhel-6-x86_64/pgdg-redhat93-9.3-1.noarch.rpm

- name: Install PostgreSQL 9.3
  action: yum pkg={{item}} state=installed
  with_items:
    - postgresql93-libs
    - postgresql93-server
    - postgresql93
    - postgis2_93
    - hdf5
    - proj
    - python-psycopg2
    - libxml2-devel
    - libxslt-devel
    - postgresql93-devel
    - tidy
    - tidy-devel
    - supervisor

- name: Create PostgreSQL cluster
  command: service postgresql-9.3 initdb

- name: Append custom database configuration
  shell: "cat {{document_root}}/{{postgresql_conf_append}} >> /var/lib/pgsql/9.3/data/postgresql.conf"

- name: Copy PostgreSQL configuration files
  action: copy src={{item}} dest=/{{item}}
  with_items:
    - var/lib/pgsql/9.3/data/pg_hba.conf

- name: Start PostgreSQL service
  command: service postgresql-9.3 start

- name: Enable PostgreSQL service
  command: chkconfig postgresql-9.3 on

- name: Create ckaner role
  action: postgresql_user user=ckaner password=ckaner role_attr_flags=NOCREATEDB,LOGIN state=present

- name: Create ckan_datastorer role
  action: postgresql_user user=ckan_datastorer password=ckan_datastorer role_attr_flags=NOCREATEDB,LOGIN state=present

- name: Create ckan database
  action: postgresql_db name=ckan owner=ckaner encoding='UTF-8'

- name: Create ckan_tests database
  action: postgresql_db name=ckan_tests owner=ckaner encoding='UTF-8'

- name: Create ckan_data database
  action: postgresql_db name=ckan_data owner=ckan_datastorer encoding='UTF-8'

- name: Create ckan_data_tests database
  action: postgresql_db name=ckan_data_tests owner=ckan_datastorer encoding='UTF-8'

- name: Install postgis to ckan database
  action: command psql -d ckan -c 'CREATE EXTENSION "postgis";'
  sudo: yes
  sudo_user: postgres

- name: Install postgis to ckan_tests database
  action: command psql -d ckan_tests -c 'CREATE EXTENSION "postgis";'
  sudo: yes
  sudo_user: postgres

- name: Change postgis owner to ckan database
  action: command psql -d ckan -c 'ALTER TABLE spatial_ref_sys OWNER TO ckaner'
  sudo: yes
  sudo_user: postgres

- name: Change postgis owner to ckan_tests database
  action: command psql -d ckan_tests -c 'ALTER TABLE spatial_ref_sys OWNER TO ckaner'
  sudo: yes
  sudo_user: postgres

- name: Grant access to ckaner
  action: command psql -d ckan_data -c 'GRANT CREATE ON SCHEMA public TO "ckaner"'
  sudo: yes
  sudo_user: postgres

- name: Grant access to ckaner
  action: command psql -d ckan_data -c 'GRANT USAGE ON SCHEMA public TO "ckaner"'
  sudo: yes
  sudo_user: postgres

- name: grant select permissions for read-only user
  action: command psql -d ckan_data -c 'GRANT CONNECT ON DATABASE "ckan_data" TO "ckaner"'
  sudo: yes
  sudo_user: postgres

- name: grant select permissions for read-only user
  action: command psql -d ckan_data -c 'GRANT USAGE ON SCHEMA public TO "ckaner"'
  sudo: yes
  sudo_user: postgres

- name: grant access to current tables and views to read-only user
  action: command psql -d ckan_data -c 'GRANT SELECT ON ALL TABLES IN SCHEMA public TO "ckaner"'
  sudo: yes
  sudo_user: postgres

- name: grant access to new tables and views by default
  action: command psql -d ckan_data -c 'GRANT USAGE ON SCHEMA public TO "ckaner"'
  sudo: yes
  sudo_user: postgres

- name: grant select permissions for read-only user
  action: command psql -d ckan_data -c 'GRANT CONNECT ON DATABASE "ckan_data" TO "ckaner"'
  sudo: yes
  sudo_user: postgres

- name: grant select permissions for read-only user
  action: command psql -d ckan_data -c 'GRANT USAGE ON SCHEMA public TO "ckaner"'
  sudo: yes
  sudo_user: postgres

- name: grant access to current tables and views to read-only user
  action: command psql -d ckan_data -c 'GRANT SELECT ON ALL TABLES IN SCHEMA public TO "ckaner"'
  sudo: yes
  sudo_user: postgres

