---
##############
# SOLR setup #
##############
- name: Set SOLR version
  set_fact:
    solr_version: 4.10.1

- name: Install Tomcat and Java
  action: yum pkg={{item}} state=installed
  with_items:
    - java-openjdk
    - tomcat6
    - tomcat6-webapps
    - tomcat6-admin-webapps

- name: Enabling tomcat service
  command: chkconfig tomcat6 on

- name: Stopping tomcat service
  command: service tomcat6 stop

- name: Download Common Logging 1.2
  get_url: url="http://ftp.tsukuba.wide.ad.jp/software/apache//commons/logging/binaries/commons-logging-1.2-bin.tar.gz" dest="~/"

- name: Unpack common-logging
  shell: "cd ~/ && tar -zxvf commons-logging-1.2-bin.tar.gz && cd commons-logging-1.2 && cp commons-logging-*.jar /usr/share/tomcat6/lib/"

- name: Download slf4j 1.7.5
  get_url: url="http://www.slf4j.org/dist/slf4j-1.7.5.tar.gz" dest="~/"

- name: Unpack slf4j
  shell: "cd ~/ && tar -zxvf slf4j-1.7.5.tar.gz && cd slf4j-1.7.5 && cp slf4j-*.jar /usr/share/tomcat6/lib/"

- name: Download SOLR
  get_url: url="http://archive.apache.org/dist/lucene/solr/{{ solr_version }}/solr-{{ solr_version }}.tgz" dest="~/"

- name: Unpack SOLR
  shell: "cd ~/ && tar -zxvf solr-{{ solr_version }}.tgz && cd solr-{{ solr_version }}/dist && cp solr-{{ solr_version }}.war /var/lib/tomcat6/webapps/solr.war"

- name: Setup SOLR home folder
  shell: "mkdir /home/solr && cp -R ~/solr-{{ solr_version }}/example/solr/* /home/solr && chown -R tomcat /home/solr"

- name: Restarting tomcat service
  command: service tomcat6 start

- name: Wait for 15 secs so that war is deployed
  action: pause seconds=15

- name: Copy SOLR schema file
  copy: src=var/local/ckan/default/pyenv/src/ckan/ckan/config/solr/schema.xml dest=/home/solr/collection1/conf/schema.xml force=yes

- name: Copy SOLR config file
  action: copy src=var/lib/tomcat6/webapps/solr/WEB-INF/web.xml dest=/var/lib/tomcat6/webapps/solr/WEB-INF/web.xml

- name: Restarting tomcat service
  command: service tomcat6 restart

- name: Create status file after installing
  shell: "echo 1 > /home/solr/installed"
