- hosts: dev
  user: root
  tasks:
    - name: Install epel
      action: command creates=/etc/yum.repos.d/epel.repo rpm -Uvh http://download.fedoraproject.org/pub/epel/6/i386/epel-release-6-8.noarch.rpm

    - name: Append custom database configuration
      shell: "cat {{document_root}}/{{postgresql_conf_append}} >> /vagrant/README.md"

    - name: Install needed packages
      action: yum pkg={{item}} state=installed
      with_items:
        - htop
        - atool
        - python-virtualenv
        - python-setuptools
        - git
        - python-devel
        - rpmdevtools
        - gcc
        - gcc-c++
        - make
        - bison
        - libselinux-python
        - wget
        - vim
        - screen
        - unzip
        - curl

    # Adding new ckaner user
    - user: name=ckaner state=present shell=/bin/bash group=users createhome=no
    #- user: name=ckaner state=absent

    - name: Stop firewall
      command: service iptables stop

    - name: Disable firewall service
      command: chkconfig iptables off

    - name: Disable selinux
      command: /usr/sbin/setenforce 0

    # Include tasks in the correct order
#- include: tasks/solr.yml
#    - include: tasks/postgresql.yml
    - include: tasks/ckan.yml
    - include: tasks/apache.yml
